<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<body>

<main>
    <style>
        .change_width {
            width: 500px;
        }


    </style>
    <div class="container">
        <div class="row justify-content-center">

            <div class="change_width">
                <form action="<% if (register){ %>/register  <% } else { %> /login <% } %>" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <% if (invalidCredentials){ %>
                        <div class="alert alert-danger" style="margin-top: 20px" role="alert">

                            <% if (errorMessage){ %>
                                <%= errorMessage %>
                            <% } else { %>
                                    Invalid Credentials
                            <% } %>
                        </div>
                    <% } %>
                    <% if (registerComplete){ %>
                        <div class="alert alert-success" style="margin-top: 20px" role="alert">
                            Registration Successful
                        </div>
                    <% } %>
                    <h3>
                        <% if (register){ %>
                            Register
                        <% } else { %>
                            Login
                        <% } %>
                    </h3>
                    <% if (register){ %>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" name="user_name" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" required>
                        </div>
                    <% } else { %>

                    <% } %>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="user_email" id="exampleInputEmail1"
                               aria-describedby="emailHelp" value="reuben@gmail.com" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label" required>Password</label>
                        <input type="password" name="user_password" value="1234" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox"  title="Select to Abide with Rules and Regualtion"
                               class="form-check-input"  id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <% if (register){ %>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" name="user_name" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" required>
                        </div>
                    <% } else { %>
                        <a class="btn btn-primary" href="/reset">Reset Password</a>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include('../includes/end.ejs') %>
</body>

</html>
