<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<body>

<main>
    <style>
        .change_width {
            width: 500px;
        }


    </style>
    <div class="container">
        <div class="row justify-content-center">

            <div class="change_width">
                <form action="/newpassword" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <% if (invalidCredentials){ %>
                        <div class="alert alert-danger" style="margin-top: 20px" role="alert">

                            <% if (errorMessage){ %>
                                <%= errorMessage %>
                            <% } else { %>
                                Invalid Credentials
                            <% } %>
                        </div>
                    <% } %>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" value="" class="form-control" id="password">
                    </div>
                    <input type="hidden" name="user_id" class="form-control" value="<%= user_id %>">
                    <input type="hidden" name="password_token" class="form-control" value="<%= password_token %>">

                    <button type="submit" class="btn btn-primary">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include('../includes/end.ejs') %>
</body>

</html>
