<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<body>
<style>
    .change_width_Add_product {
        width: 500px;
    }
</style>
<!--<script>-->
<!--    window.addEventListener("load", function () {-->
<!--        document.getElementById("drop-area").onchange = function (event) {-->
<!--            var reader = new FileReader();-->
<!--            reader.readAsDataURL(event.srcElement.files[0]);-->

<!--            reader.onload = function () {-->
<!--                var fileContent = reader.result;-->
<!--                console.log(fileContent)-->
<!--                document.getElementById("product_image_picker_base64").value = fileContent;-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--</script>-->
<main>
    <div style="display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;">
        <div class="row">
            <div  class="change_width_Add_product">
              <h1 style="margin: 10px 38%;">Add A Product</h1>
                <form action="/admin/<% if (editing){ %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <% if (invalidCredentials){ %>
                        <div class="alert alert-danger" style="margin-top: 20px" role="alert">

                            <% if (errorMessage){ %>
                                <%= errorMessage %>
                            <% } else { %>
                                Invalid Credentials
                            <% } %>
                        </div>
                    <% } %>
                    <div class="input-group mb-3">
                        <input type="text" placeholder="Product Name" value="<% if (editing){ %> <%=product.title   %> <% } else {} %>" name="product_name" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" placeholder="Product Price" value="<% if (editing){ %> <%= product.price   %> <% } else {} %>" name="product_price" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
<!--                    <div class="input-group mb-3">-->
<!--                        <input type="text" placeholder="Image URL" value="<% if (editing){ %> <%= product.image_url   %> <% } else {} %>" name="product_image_url" class="form-control" aria-label="Sizing example input"-->
<!--                               aria-describedby="inputGroup-sizing-default">-->
<!--                    </div>-->
                    <div class="input-group mb-3">
                        <input type="file" placeholder="Image URL"
                               id="drop-area"
                               name="product_image_picker"
                               class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
<!--                    <input type="hidden" id="product_image_picker_base64" name="product_image_picker_base64">-->
                    <div class="input-group mb-3">
                        <textarea placeholder="Description" name="product_description" class="form-control" rows="5"
                               aria-describedby="inputGroup-sizing-default"><% if (editing){ %> <%=product.description  %> <% } else { %><% } %></textarea>
                    </div>
                    <% if (editing){ %>
                        <input type="hidden" value="<%= product._id %>" name="product_id">
                        <% }%>


                    <button class="btn" style="color: #bc6ff1;background-color: #52057b;" type="submit">
                        <% if (editing){ %>
                            Update Product
                            <% } else { %>
                            Add Product
                            <% } %>
                    </button>

                </form>
            </div>

        </div>
    </div>

</main>

<%- include('../includes/end.ejs') %>
</body>
</html>
