<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<body>

<main>
    <div style="display: flex;
                justify-content: space-evenly;
                align-items: center;
flex-wrap: wrap;">


        <% if (prods.length > 0) { %>
            <% for (let product of prods) { %>
                <a href="/products/<%= product._id  %> " style="text-decoration: none;color: #52057b;" >


                    <div class="card" style="width: 18rem;border: 1px solid #892cdc;">
                        <img src="<%= product.image_url %> " class="card-img-top rounded mx-auto d-block"
                             alt="..." style="width: 285px;height: 200px;object-fit: fill;
                        ">
                        <div class="card-body" style="
      display:flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;">
                            <h5 class="card-title"><%= product.title %> </h5>
                            <p class="card-text" >Price:$ <%= product.price %> </p>

                            <% if (isAuthenticated){ %>
                                <%- include('../includes/add-to-cart.ejs',{product:product._id}) %>
                            <% } %>
                        </div>
                    </div>
                </a>
            <% } %>
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </div>
</main>
<div style="display: flex;align-content: center;justify-content: center;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% if (hasPreviousPage) { %>
                <li class="page-item"><a class="page-link"style="background-color: #52057b !important;color: white;" href="/?page=<%= previousPage %>">Previous</a></li>
            <% } %>
                <% if (currentPage !== 1) { %>
                <li class="page-item"><a class="page-link"style="background-color: #52057b !important;color: white;" href="/?page=1">1</a></li>

                <% } %>
            <li class="page-item" ><a class="page-link" style="background-color: #52057b !important;color: white;" href="/?page=<%=currentPage%>"><%=currentPage%></a></li>
            <% if (hasNextPage) { %>
                <li class="page-item"><a class="page-link" style="background-color: #52057b !important;color: white;" href="/?page=<%= nextPage %>">Next</a></li>
            <% } %>

        </ul>
    </nav>
</div>
<%- include('../includes/end.ejs') %>
</body>

</html>
