<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<body>

<main>
    <% if (orders.length > 0) { %>

        <div class="container" style="margin-top:30px;">
            <div class="col align-self-center">
                <h1> Your Previous Orders </h1>
                <% orders.forEach(order => { %>
                    <table class="table table-hover table-borderless">
                        <a href="/orders/invoices/<%= order._id %>">Invoices</a>
                        <% order.products.forEach(p=>{ %>

                            <tr>

                                <td class="table-primary align-self-center">
                                    <a href="/products/<%= p.product._id %> "
                                       style="text-decoration: none;color: #52057b;">

                                        <img src="<%= p.product.image_url %>" class="img-thumbnail"
                                             style="width:50px;height:50px;object-fit: cover;" alt="">
                                    </a>
                                </td>
                <td class="table-secondary">
                  <h6> Title: <%= p.product.title %> </h6>

                </td>
                <td class="table-success">
                  <h6> Quantity: <%= p.quantity %> </h6>


                  </a>
                </td>
                <td class="table-danger">
                  <h6> Price: $<%= p.product.price %> </h6>

                </td>


        </tr>






          <% }) %>
        </table>

        <% }) %>
          <li class="list-group-item" aria-current="true">

          </li>
        </ul>
        </div>
      </div>
      <table class="table table-hover">

      </table>

      <% } else { %>
          <h1>No Products in the Cart</h1>
        <% } %>
</main>

<%- include('../includes/end.ejs') %>
</body>

</html>
